/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;600&display=swap');

/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  width: 100%;
}

/* PROJECT START / GLOBAL CONFIG */

body {
  min-height: 100vh;
  background: #684BB1;
  background-image: url(./images/bg-mobile.svg);
  background-position: top center;
  background-repeat: no-repeat;
  padding: 38.2px 35px 40px 36px;
}

.container {
  max-width: 304px;
  margin: 0 auto;
}

.container__head {
  max-width: 120px;
  margin-bottom:  69.8px;
}

.container__main {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__img img {
  margin-bottom: 60px;
}

.container__title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 16px;
}

.container__text {
  text-align: center;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 24px;
}

.container__content {
  display: flex;
  flex-direction: column;
}

.container__btn {
  background-color: #FFFFFF;
  color: #684BB1;
  display: inline-block;
  padding: 11px 75px;
  border-radius: 20px;
  margin: auto auto;
}

@media (min-width: 1000px) {
  .container {
    max-width: initial;
  }
  
  .container__main {
    flex-direction: row;
    gap: 59px;
  }

  .container__img img {
    max-width: 696px;
  }

  .container__content {
  max-width: 540px;
  }
}
